{% extends 'monitor/base.html' %}
{% load static %}
{% load plotly_dash %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Monitoramento</title>

    

    <!-- plotly_dash CSS/JS includes -->
    {{ plotly_header }}
    {{ plotly_required }}
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Dashboard de Monitoramento de Efluentes</h1>

        <!-- DASH COMPONENT -->
        <div class="card p-4 shadow-sm">
            {% plotly_app name="dashboard_monitoramento" %}
        </div>
    </div>


{% endblock %}
