{% extends 'monitor/base.html' %}
{% block content %}
<h2>Emissões Atmosféricas</h2>
<a href="{% url 'adicionar_emissoes' %}">Adicionar Novo</a>
<form method="get" class="mb-3">
    <input type="text" name="q" placeholder="Filtrar por descrição ou ponto" value="{{ query|default_if_none:'' }}">
    <button type="submit">Filtrar</button>
</form>
<table>
    <thead>
        <tr>
            <th>Unidade Empresarial</th>
            <th>Ponto Monitorado</th>
            <th>Parâmetro</th>
            <th>Data</th>
            <th>Resultado</th>
            <th>Conformidade</th>
            <th>Ações</th>
            <th>Responsável</th>
        </tr>
    </thead>
    <tbody>
        {% for m in page_obj %}
        <tr>
            <td>{{ m.unidade_empresarial }}</td>
            <td>{{ m.ponto_monitorado }}</td>
            <td>{{ m.parametro.nome }}</td>
            <td>{{ m.data_medicao }}</td>
            <td>{{ m.resultado }}</td>
            <td style="color: {% if m.conformidade == 'Não Conforme' %}red{% else %}black{% endif %};">
              {{ m.conformidade }}
            </td>
            <td>
                {% if user.groups.first.name == 'Gerenciador' %}
                    <a href="{% url 'editar_emissoes' m.id %}">Editar</a>
                    <a href="{% url 'excluir_emissoes' m.id %}">Excluir</a>
                {% endif %}
            </td>
            <td>{{ m.inserido_por }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhum monitoramento cadastrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; Primeira</a>
      <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a>
    {% endif %}

    <span class="current">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Próxima</a>
      <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Última &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
