{% extends 'monitor/base.html' %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username">Usuário:</label>
        <input type="text" name="username" class="form-control" required autofocus>
    </div>
    <div class="mb-3">
        <label for="password">Senha:</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
